.profile{
    background-color: beige;
}
.profileInfo{
    display: flex;
    justify-content: space-between;
}
.profileTitle{
    font-size: 40px;
}
.profileWrapper{
    padding: 2em;
}

.profileImg{
    width: 150px;
    height: auto;
}

.profileName{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .profileImg{
        width: 550px;
    }
  }